{
    "root": true,
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "eslint-config-prettier"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}
